<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="python"
                  arguments="api.py"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\python.log"
                  startupTimeLimit="60"
                  requestTimeout="04:00:00">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="." />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>